.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

ion-icon {
    font-size: 5rem;
    color: var(--ion-color-primary);
}

.login-logo {
    display: flex;
    justify-content: space-around;
}