<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <div class="container">
            <div class="card" style="width: 32rem;">
                <div class="card-body">
                  <h5 class="card-title">Login / Sign Up</h5>
                  <h6 class="card-subtitle mb-2 text-muted">To keep your data safe, we only use OAuth</h6>
                  <hr>
                  <div class="row">
                    <div class="col login-logo">
                        <a href="http://localhost:8080/login/federated/google" class="card-link"><ion-icon name="logo-google"></ion-icon></a>
                    </div>
                    <div class="col login-logo">
                        <a href="#" class="card-link"><ion-icon name="logo-github"></ion-icon></a>
                    </div>
                    <div class="col login-logo">
                        <a href="#" class="card-link"><ion-icon name="logo-apple"></ion-icon></a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </body>
</html>
