<footer class="footer">
    <div class="content has-text-centered">
        <p>Copyright © HopOps</p>
    </div>
    <br/>
    <!-- Three columns created using columns class of Bulma -->
    <div class="columns is-justify-content-space-around">
    <!-- Column 1 -->
        <div class="col md-3 sm-1">

            <!-- Heading is left aligned, medium weight -->
            <h4 class="bd-footer-title 
                        has-text-weight-medium
                        has-text-left">
                HopOps
            </h4>

            <!-- footer content -->
            <p class="bd-footer-link 
                        has-text-left">
                Your Brewery's Command Center
            </p>

        </div>

            <!-- Column 2 -->
        <div class="col md-3 sm-1">
            <h4 class="bd-footer-title 
                        has-text-weight-medium 
                        has-text-justify">
                Explore
            </h4>

            <!-- Column 2 lists with links -->
            <p class="bd-footer-link">
                <a href="#">
                <span class="icon-text">
                    <span>Community Events</span>
                </span>
                </a>
                <br />
                <a href="#">
                    <span class="icon-text">
                        <span>Forum</span>
                    </span>
                    </a>
                <br />
                <a href="#">
                    <span class="icon-text">
                        <span>Brew Recipes</span>
                    </span>
                </a>
            </p>

        </div>

            <!-- Column 3 -->
        <div class="col md-3 sm-1">
            <h4 class="bd-footer-title
                        has-text-weight-medium
                        has-text-justify">
                Contact us
            </h4>

            <!-- Column 3 lists with links -->
            <p class="bd-footer-link">
                <a href="#/">
                    <span class="icon-text">
                        <span>Email</span>
                    </span>
                </a>
                <br />
                <a href="#">
                    <span class="icon-text">
                        <span>Call Us</span>
                    </span>
                </a>
            </p>
        </div>

        <!-- Column 4 lists with links -->
        <div class="col md-3 sm-1">
            <h4 class="bd-footer-title
                        has-text-weight-medium
                        has-text-justify">
                Founders
            </h4>
            <p class="bd-footer-link">
                <a href="linkedin.com/in/adi-ganti">
                    <span class="icon-text">
                        <span>Aditya Ganti</span>
                    </span>
                </a>
                <br />
                <a href="linkedin.com/in/parthresh56/">
                    <span class="icon-text">
                        <span>Parth Reshamwala</span>
                    </span>
                </a>
                <br />
                <a href="linkedin.com/in/manvith-golla-1444a0a3/">
                    <span class="icon-text">
                        <span>MNM Golla</span>
                    </span>
                </a>
                <br />
                <a href="linkedin.com/in/w-a-mcdonnell">
                    <span class="icon-text">
                        <span>William McDonnell</span>
                    </span>
                </a>
            </p>
        </div>
    </div>
</footer>