.spacing-row {
    margin: 20px;
}

.mat-column-PaymentMethod {
    text-align: center;
}
.mat-column-SaleDate {
    text-align: center;
}

// Change curosr when hovering tanle
.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

// Change table row when hovered
.mat-mdc-row:hover .mat-mdc-cell {
    background-color: lightgray;
}

.background-image {
    background-image: url('/assets/img/sales2.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.5;
  }

  h1 {
    color: #0c0c0c;
  }

.fixed-footer {
position: fixed;
bottom: 0;
left: 0;
width: 100%;
}

td {
    background-image: linear-gradient(to right, #ff0000, #00ff00);
    background-clip: text;
    -webkit-background-clip: text;
    color: black;
  }