<app-header></app-header>
<div class="forehead"></div>
<div class="spacing-row"></div>
<div class="container">
    <table mat-table [dataSource]="saleList" class="mat-elevation-z8">
        <ng-container matColumnDef="SaleID">
            <th mat-header-cell *matHeaderCellDef> SaleID </th>
            <td mat-cell *matCellDef="let sale"> {{sale.saleID}} </td>
        </ng-container>
        <ng-container matColumnDef="SaleDate">
            <th mat-header-cell *matHeaderCellDef> Sale Date </th>
            <td mat-cell *matCellDef="let sale"> {{sale.date}} </td>
        </ng-container>
        <ng-container matColumnDef="PaymentMethod">
            <th mat-header-cell *matHeaderCellDef> Payment Method </th>
            <td mat-cell *matCellDef="let sale"> {{sale.paymentMethod}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

    </table>

</div>
<app-footer></app-footer>