<footer class="footer">
    <div class="content text-center">
        <p>Copyright © HopOps</p>
    </div>
    <br />
    <div class="row justify-content-around">
        <div class="col-md-3 col-sm-1">
            <h4 class="bd-footer-title font-weight-medium text-left">
                HopOps
            </h4>
            <p class="bd-footer-link text-left">
                Your Brewery's Command Center
            </p>
        </div>

        <div class="col-md-3 col-sm-1">
            <h4 class="bd-footer-title font-weight-medium text-justify">
                Explore
            </h4>
            <p class="bd-footer-link">
                <a routerLink="/#/community-events">
                    <span class="icon-text">
                        <span>Community Events</span>
                    </span>
                </a>
                <br />
                <a href="#">
                    <span class="icon-text">
                        <span>Forum</span>
                    </span>
                </a>
                <br />
                <a href="#">
                    <span class="icon-text">
                        <span>Brew Recipes</span>
                    </span>
                </a>
            </p>
        </div>

        <div class="col-md-3 col-sm-1">
            <h4 class="bd-footer-title font-weight-medium text-justify">
                Contact us
            </h4>
            <p class="bd-footer-link">
                <a href="#">
                    <span class="icon-text">
                        <span>Email</span>
                    </span>
                </a>
                <br />
                <a href="#">
                    <span class="icon-text">
                        <span>Call Us</span>
                    </span>
                </a>
            </p>
        </div>

        <div class="col-md-3 col-sm-1">
            <h4 class="bd-footer-title font-weight-medium text-justify">
                Founders
            </h4>
            <p class="bd-footer-link">
                <a href="http://www.linkedin.com/in/adi-ganti">
                    <span class="icon-text">
                        <span>Aditya Ganti</span>
                    </span>
                </a>
                <br />
                <a href="http://www.linkedin.com/in/parthresh56/">
                    <span class="icon-text">
                        <span>Parth Reshamwala</span>
                    </span>
                </a>
                <br />
                <a href="http://www.linkedin.com/in/manvith-golla-1444a0a3/">
                    <span class="icon-text">
                        <span>MNM Golla</span>
                    </span>
                </a>
                <br />
                <a href="http://www.linkedin.com/in/w-a-mcdonnell">
                    <span class="icon-text">
                        <span>William McDonnell</span>
                    </span>
                </a>
            </p>
        </div>
    </div>
</footer>
