<div class="navbar is-dark">
    <div class="navbar-brand">
        <a class="navbar-item headerlogo" href="#">
            <img src="assets/img/logo_thumbnail.png">
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" routerLink="/">
                Home
            </a>

            <a class="navbar-item" routerLink="/my-recipes">
                Recipes
            </a>

            <a class="navbar-item" routerLink="/inventory">
                Inventory
            </a>

            <a class="navbar-item" routerLink="/sales">
                Sales Dashboard
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" routerLink="/inventory">
                    About Us  
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        Brew Tracking
                    </a>
                
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Report an issue
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary">
                        Log In
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>