<app-header></app-header>
<div class="forehead"></div>
<div class="main-content">
  <div class="container" id="recipes">
    <div class="row justify-content-around">
      <ng-container *ngFor="let recipe of jsonRecipes">
        <div class="col-md-4 col-sm-6 col-12">
          <app-recipe-card [recipe]="recipe"></app-recipe-card>
          <div class="forehead"></div>
        </div>
      </ng-container>
      <div class="forehead"></div>
    </div>
  </div>
  
  <button class="btn btn-primary create-new" id="renderFormButton" (click)="renderForm()">Create New</button>
  <button class="btn btn-primary create-new" id="cancelFormButton" (click)="cancelForm()">Cancel</button>
  
    <form [formGroup]="inputFormDetails" (ngSubmit)="submitRecipe()">
      <div id="input-form">
        <label for="title">Title</label>
        <input matInput formControlName="title">
        <label for="description">Description</label>
        <textarea formControlName="description"></textarea>
        <label for="image">Image URL</label>
        <input formControlName="image">
        <label for="body">Recipe</label>
        <textarea matInput formControlName="body"></textarea>
        <button mat-button (click)="addIngredient()">Add Ingredient</button>
        <label for="favcheck">Favorite</label>
        <input type="checkbox" id="favcheck" formControlName="favorite">
        <button type="submit">Submit</button>
      </div>
    </form>
    <div class="forehead"></div>
</div>
<app-footer></app-footer>