<app-header></app-header>
<div class="forehead"></div>
<div class="container">
    <div class="row">
        <div class="col md-3 sm-1">
            <app-recipe-card></app-recipe-card>
        </div>
        <div class="col md-3 sm-1">
            <app-recipe-card></app-recipe-card>
        </div>
        <div class="col md-3 sm-1">
            <app-recipe-card></app-recipe-card>
        </div>
    </div>
    <div class="forehead"></div>
    <div class="row" *ngFor="let numrows of [0,1]; let nr=index">
      <div class="col md-3 sm-1" *ngFor="let numcols of [0,1,2]; let nc=index">
        <app-recipe-card></app-recipe-card>
      </div>
        <div class="forehead"></div>
    </div>
</div>
<app-footer></app-footer>


<!-- Updated HTML, that ditches Bulma in favor of Bootstrap

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
      <img src="assets/img/logo_thumbnail.png" width="50" height="50" alt="">
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Our Community</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          What We Do
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Recipe Management</a>
          <a class="dropdown-item" href="#">Brew Tracking</a>
          <a class="dropdown-item" href="#">Inventory Management</a>
          <a class="dropdown-item" href="#">Sales Dashboard</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Report an issue</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
    </ul>
    <div class="navbar-nav">
      <a class="nav-item nav-link">
        <button class="btn btn-primary">Log In</button>
      </a>
    </div>
  </div>
</nav>
  
<div class="forehead"></div>
<div class="container">
  <div class="row">
      <div class="col md-3 sm-1">
          <app-recipe-card></app-recipe-card>
      </div>
      <div class="col md-3 sm-1">
          <app-recipe-card></app-recipe-card>
      </div>
      <div class="col md-3 sm-1">
          <app-recipe-card></app-recipe-card>
      </div>
  </div>
  <div class="forehead"></div>
  <div class="row" *ngFor="let numrows of [0,1]; let nr=index">
    <div class="col md-3 sm-1" *ngFor="let numcols of [0,1,2]; let nc=index">
      <app-recipe-card></app-recipe-card>
    </div>
      <div class="forehead"></div>
  </div>
</div>
<footer class="footer">
  <div class="container">
      <hr>
    <div class="row">
      <div class="col-12 text-center">
        <p>&copy; HopOps</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3 col-sm-6">
        <h4 class="text-md-start">HopOps</h4>
        <p class="text-md-start">Your Brewery's Command Center</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <h4 class="text-md-center">Explore</h4>
        <ul class="list-unstyled text-md-center">
          <li><a href="#">Community Events</a></li>
          <li><a href="#">Forum</a></li>
          <li><a href="#">Brew Recipes</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <h4 class="text-md-center">Contact us</h4>
        <ul class="list-unstyled text-md-center">
          <li><a href="#">Email</a></li>
          <li><a href="#">Call Us</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <h4 class="text-md-end">Founders</h4>
        <ul class="list-unstyled text-md-end">
          <li><a href="linkedin.com/in/adi-ganti">Aditya Ganti</a></li>
          <li><a href="linkedin.com/in/parthresh56/">Parth Reshamwala</a></li>
          <li><a href="linkedin.com/in/manvith-golla-1444a0a3/">MNM Golla</a></li>
          <li><a href="linkedin.com/in/w-a-mcdonnell">William McDonnell</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

-->