<div class="card">
    <div class="event-image"><img src="assets/img/current-event1.jpg"></div>
    <div class="event-description">
      <h3>Beer Festival</h3>
      <p class="event-price">$20 per person</p>
      <p>Date: May 20, 2023</p>
      <p>Time: 6:00 PM</p>
      <p>In celebration of our beer culture join us for the Highlands Ranch Beer Festival. Come enjoy live music, beer from local and national breweries, and lawn games. Proceeds benefit the Highlands Ranch Scholarship Fund.</p>
      <button class="event-rsvp-btn">RSVP</button>
    </div>
  </div>

  <div class="card">
    <div class="event-image"><img src="assets/img/current-event1.jpg"></div>
    <div class="event-description">
      <h3>Beer Festival</h3>
      <p class="event-price">$20 per person</p>
      <p>Date: May 20, 2023</p>
      <p>Time: 6:00 PM</p>
      <p>In celebration of our beer culture join us for the Highlands Ranch Beer Festival. Come enjoy live music, beer from local and national breweries, and lawn games. Proceeds benefit the Highlands Ranch Scholarship Fund.</p>
      <button class="event-rsvp-btn">RSVP</button>
    </div>
  </div>

  <div class="card">
    <div class="event-image"><img src="assets/img/current-event1.jpg"></div>
    <div class="event-description">
      <h3>Beer Festival</h3>
      <p class="event-price">$20 per person</p>
      <p>Date: May 20, 2023</p>
      <p>Time: 6:00 PM</p>
      <p>In celebration of our beer culture join us for the Highlands Ranch Beer Festival. Come enjoy live music, beer from local and national breweries, and lawn games. Proceeds benefit the Highlands Ranch Scholarship Fund.</p>
      <button class="event-rsvp-btn">RSVP</button>
    </div>
  </div>

  <div class="card">
    <div class="event-image"><img src="assets/img/current-event2.jpg" alt="Past Event 1"></div>
    <div class="event-description">
      <h3>12th Annual Gig Harbor Beer Festival</h3>
      <p class="event-price">$15 per person</p>
      <p>Date: May 20, 2023</p>
      <p>Time: 6:00 PM</p>
      <p>The Festival will feature a wide variety of Northwest craft brewers offering event-goers a splendid mix of familiar favorites and new brews to taste.</p>
      <button class="event-rsvp-btn">RSVP</button>
    </div>
  </div>

  <div class="card">
    <div class="event-image"><img src="assets/img/current-event2.jpg" alt="Past Event 1"></div>
    <div class="event-description">
      <h3>12th Annual Gig Harbor Beer Festival</h3>
      <p class="event-price">$15 per person</p>
      <p>Date: May 20, 2023</p>
      <p>Time: 6:00 PM</p>
      <p>The Festival will feature a wide variety of Northwest craft brewers offering event-goers a splendid mix of familiar favorites and new brews to taste.</p>
      <button class="event-rsvp-btn">RSVP</button>
    </div>
  </div>

  <div class="card">
    <div class="event-image"><img src="assets/img/current-event2.jpg" alt="Past Event 1"></div>
    <div class="event-description">
      <h3>12th Annual Gig Harbor Beer Festival</h3>
      <p class="event-price">$15 per person</p>
      <p>Date: May 20, 2023</p>
      <p>Time: 6:00 PM</p>
      <p>The Festival will feature a wide variety of Northwest craft brewers offering event-goers a splendid mix of familiar favorites and new brews to taste.</p>
      <button class="event-rsvp-btn">RSVP</button>
    </div>
  </div>

  <div class="card">
    <div class="event-image"><img src="assets/img/current-event2.jpg" alt="Upcoming Event 1"></div>
    <div class="event-description">
      <h3>Columbia City Night Market</h3>
      <p class="event-price">Free Admission</p>
      <p>Date: May 20, 2023</p>
      <p>Time: 6:00 PM</p>
      <p>The COLUMBIA CITY NIGHT MARKET promotes a fun and inclusive shopping experience that introduces the unique artistic stylings of makers, creators, and performing artists to our community. Supporting businesses with Black owners, local artisans, and promoting fun and outdoor activity</p>
      <button class="event-rsvp-btn">RSVP</button>
      </div>
      </div>

      <div class="card">
        <div class="event-image"><img src="assets/img/current-event2.jpg" alt="Upcoming Event 1"></div>
        <div class="event-description">
          <h3>Columbia City Night Market</h3>
          <p class="event-price">Free Admission</p>
          <p>Date: May 20, 2023</p>
          <p>Time: 6:00 PM</p>
          <p>The COLUMBIA CITY NIGHT MARKET promotes a fun and inclusive shopping experience that introduces the unique artistic stylings of makers, creators, and performing artists to our community. Supporting businesses with Black owners, local artisans, and promoting fun and outdoor activity</p>
          <button class="event-rsvp-btn">RSVP</button>
          </div>
          </div>

          <div class="card">
            <div class="event-image"><img src="assets/img/current-event2.jpg" alt="Upcoming Event 1"></div>
            <div class="event-description">
              <h3>Columbia City Night Market</h3>
              <p class="event-price">Free Admission</p>
              <p>Date: May 20, 2023</p>
              <p>Time: 6:00 PM</p>
              <p>The COLUMBIA CITY NIGHT MARKET promotes a fun and inclusive shopping experience that introduces the unique artistic stylings of makers, creators, and performing artists to our community. Supporting businesses with Black owners, local artisans, and promoting fun and outdoor activity</p>
              <button class="event-rsvp-btn">RSVP</button>
              </div>
              </div>
