.create-new {
    position: fixed;
    bottom: 20px;
    right: 20px;
  
    // Customize the button styling
    &.btn {
      background-color: #007bff;
      color: #fff;
      border-color: #007bff;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 16px;
    }
  
    &.btn:hover {
      background-color: #0069d9;
      border-color: #0062cc;
    }
}
  
.main-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-grow: 1;
  position: relative;
  padding: 20px;
}

.main-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/assets/img/back1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  opacity: 0.5; /* Adjust the opacity as desired */
  z-index: -1;
}
